* {
  padding: 0;
  margin: 0;
  border: 0;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
}
@font-face {
  font-family: cursive;
  src: url("./assets/PressStart2P-Regular.ttf") format("ttf");
}

#game_over {
  z-index: 2;
  position: absolute;
  top: 30vh;
  left: 30vw;
  width: 40vw;
  height: 40vh;
  font-family: "PressStart2P-Regular";
  background-color: rgba(255, 255, 255, 0.884);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: all 300ms ease;
  opacity: 0;
  pointer-events: none;
  border-radius: 0.4rem;
  box-shadow: 5px 5px 15px rgba(58, 58, 58, 0.329);
  border: 0.25rem solid transparent;
}

#game_over h1 {
  color: red;
}

#homepage_redirect {
  position: relative;
  top: 0;
  left: 0;
  width: fit-content;
  height: fit-content;
  padding: 0.5rem;
  background-color: #ffae00;
  color: white;
  box-shadow: 2px 3px 5px #5c5c5c50;
  transition: all 300ms ease;
  font-size: 1.2rem;
  border-radius: 0.4rem;
  font-family: sans-serif;
  outline: none;
}

#homepage_redirect:hover {
  box-shadow: 2px 3.5px 5px #5c5c5c50;
  background-color: #ffc23d;
}

#homepage_redirect:active {
  top: -3px;
  left: 1px;
  box-shadow: 3px 6px 7px #5c5c5c50;
  background-color: #ffda89;
}

#game_start {
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 40vh;
  left: 35vw;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.884);
  box-shadow: 5px 5px 15px rgba(58, 58, 58, 0.329);
  border-radius: 0.4rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  font-family: sans-serif;
}

#game_start h2 {
  padding: 2rem;
  font-weight: 200;
  padding-bottom: 1rem;
}

#game_start h4 {
  padding: 1rem;
  font-weight: 700;
  color: #ffae00;
}

#game_start_ack {
  outline: none;
  position: relative;
  top: 0;
  left: 0;
  padding: 0.8rem;
  font-size: 1.2rem;
  font-family: sans-serif;
  background-color: #6f00ff;
  color: white;
  border-radius: 0.3rem;
  box-shadow: 2px 2px 4px rgba(54, 54, 54, 0.493);
  transition: all 300ms ease;
  cursor: pointer;
}

#game_start_ack:hover {
  background-color: #9341ff;
}

#game_start_ack:active {
  top: -3px;
  box-shadow: 2px 5px 6px rgba(75, 75, 75, 0.493);
  background-color: #bb87ff;
}
