* {
  padding: 0;
  margin: 0;
  border: 0;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
}
@font-face {
  font-family: cursive;
  src: url("./assets/PressStart2P-Regular.ttf") format("ttf");
}

button {
  cursor: pointer;
}

#game_over {
  position: absolute;
  width: 40vw;
  height: 40vh;
  left: 30vw;
  top: 30vh;
  z-index: 2;
  font-family: "PressStart2P-Regular";
  background-color: rgba(255, 255, 255, 0.884);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: all 300ms ease;
  opacity: 0;
  pointer-events: none;
  border-radius: 0.4rem;
  box-shadow: 5px 5px 15px rgba(58, 58, 58, 0.329);
  border: 0.25rem solid transparent;
}

#game_over h1 {
  color: red;
}

#game_start {
  position: absolute;
  width: fit-content;
  height: fit-content;

  opacity: 0;
  pointer-events: none;

  z-index: 2;
  background-color: rgba(255, 255, 255, 0.884);
  box-shadow: 5px 5px 15px rgba(58, 58, 58, 0.329);
  border-radius: 0.4rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  font-family: sans-serif;
}

#game_start h2 {
  padding: 2rem;
  font-weight: 200;
  padding-bottom: 1rem;
  transition: all 300ms ease;
}

#game_start h4 {
  padding: 1rem;
  font-weight: 700;
  color: #ffae00;
}
