body {
  border: 0;
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: sans-serif;
  padding-left: 1rem;
}

button {
  cursor: pointer;
}

.heading_text {
  font-size: 2.75rem;
  font-family: "Permanent Marker", cursive;
  color: #333333;
  margin: 0;
  background-color: #f8b600;
  background-image: linear-gradient(to right, #f83600 0%, #f9d423 130%);
  width: fit-content;
  height: fit-content;
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  cursor: pointer;
}

#play {
  --mdc-theme-primary: #ffae00;
  --mdc-theme-on-primary: #ffffff;
  font-size: 1.1rem;
}

#game_info {
  box-shadow: 2px 4px 10px #5c5c5c57;
  background-color: rgb(255, 255, 255);
  border-radius: 0.4rem;
  position: absolute;
  left: 2vw;
  top: 30vh;
  width: 60vw;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 2rem;
}

#entry_popup {
  position: relative;
  left: 25vw;
  top: 0;
  border-radius: 1rem;
  width: 50vw; /*! to 50vw */
  height: 40vh; /*! to 40vh */
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #ffffff;
  background-image: linear-gradient(to right, #ffd5ca 0%, #fff7cc 130%);
  box-shadow: 5px 5px 20px rgba(63, 63, 63, 0.281);
  opacity: 0;
  display: none;
  transition: all 200ms ease;
}

#entry_popup p {
  color: grey;
  margin: 0;
  font-size: 0.8rem;
}

#entry_popup h2 {
  font-family: sans-serif;
  font-weight: 100;
  color: black;
  margin-bottom: 0.3rem;
}

#game_players {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  transition: all 300ms ease;
  background-color: #ffffff;
  /* border-style: solid;
  border-width: 0.15rem;
  border-color: rgba(100, 100, 100, 0.089); */
}

.player_div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  background-color: transparent;
  margin: 0.4rem;
  border-radius: 0.3rem;
  transition: all 300ms ease;
  cursor: pointer;
  border: 0.1rem solid #ffae00;
}

.player_div:hover {
  border-color: #a200ff;
}

.player_div:hover .player_name {
  color: #a200ff;
}

.player_name {
  position: relative;
  top: 0;
  left: 0;
  color: #ffae00;
  font-family: sans-serif;
  font-size: 1.5rem;
  word-wrap: break-word;
  word-break: break-all;
  text-align: center;
  cursor: pointer;
  text-shadow: 0 0 0.05rem #c5760000;
  transition: all 400ms ease;
}

#name_submit {
  /* font-family: "roboto", sans-serif;
  font-weight: 300; */
  font-size: 1.1rem;
  width: 7rem;
  height: 2.5rem;
}

#name_input {
  outline: none;
  border: solid white;
  border-radius: 0.2rem;
  transition: all 300ms ease;
  width: 40vw;
  height: 1.4rem;
  font-size: 1.2rem;
  font-family: sans-serif;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: transparent;
}

#name_input:focus {
  border-color: #f83600;
}

#timing_input {
  border: none;
  background-color: #ffffff9f;
  width: 40vw;
  height: 1.4rem;
  font-size: 1.1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-family: sans-serif;
  border-radius: 0.2rem;
  outline: none;
  transition: all 300ms ease;
  color: black;
  border: solid transparent;
  display: none;
  pointer-events: none;
}

#timing_input:focus {
  border-color: #683eff;
  background-color: transparent;
}
